Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["elasticbeanstalk-us-east-1-785378877318"]
          roleName:
            "Fn::GetOptionSetting":
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role"
files:
  # Private key
  /dev-stats/dev-stats-firebase.key.json:
    mode: "000755"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://s3.amazonaws.com/elasticbeanstalk-us-east-1-785378877318/keys/dev-stats-firebase.key.json
